{% extends "base.html" %}

{% block title %}
Kosmo portfolio
{% endblock title %}

{% block content %}
<div class="text-secondary px-4 py-5 text-center">
    <div class="py-5">
      <h1 class="display-5 fw-bold text-white">Some about me</h1>
      <div class="col-lg-6 mx-auto">
        <p class="fs-5 mb-4">Hello, my name is Danya, I am a junior Python developer. I've been interested in programming since I was 12-13 years old, but I started taking this profession seriously when I was 14-15 years old.</p>
      </div>
    </div>
  </div>
<div class="text-secondary px-4 py-5 text-center">
    <div class="py-5">
        <div class="col-lg-6 mx-auto">
            <p class="fs-5 mb-4">At the time of creating this portfolio, I am studying data science. After graduating from university, I plan to move in this direction, increasing my soft skills and learning new information for me. I’m also a little interested in layout and studying frameworks for creating web applications</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <a href="/links"><button type="button" class="btn btn-outline-light btn-lg px-4 me-sm-3 fw-bold">My links</button></a>
        </div>
      </div>
    </div>
</div>
{% endblock content %}